.header {
  display: grid;
  padding: 4rem 1rem 1rem 1rem;
  grid-template-columns: 1fr;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  gap: 1rem;
  background: rgba(255,255,255,0.5);
}

.titlewrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
  line-height: 1.15;
  white-space: break-spaces;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.metalink {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  display: block;
  margin-top: 0.25rem;
  color: #000;
}

.nav {
  z-index: 1;
  font-size: 1rem;
}

.link {
  color: #666;
  text-decoration: none;
}

.link.active {
  color: #000;
}

.separator {
  margin: 0 0.5rem;
  color: #cacaca;
}

/* Media query for larger screens */
@media (min-width: 50em) { 
  .header {
    grid-template-columns: 1fr 1fr 1fr; 
    padding: 1.5rem;
    background: transparent;
  }
  .nav {
    justify-self: center;
  }
}